.cabecera {
    clear: both;
}

.titulo {
    float: left;
    margin-left: 50%;
    font-size: xx-large;
}

.login {
    float: left;
    margin-left: 760px;
    margin-top: 10px;
}

.login a {
    text-decoration: none;
    color: black;
}

.menu {
    clear: both;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 40px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0px;
}

.menu li {
    padding: 0px;
    line-height: 40px;
    list-style: none;
    margin: 0px 20px;
}




