* {
    margin: 0;
}

/*Títulos*/
#titulo {
    text-align: center;
    height: 25px;
    font-family: 'Questrial', sans-serif;
    font-size: small;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #707a7f23;
    border-bottom: 1px solid #707a7f23;
    padding: 15px 0px;
}


/*----------CABECERA----------*/
.header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/*Título y sign in*/
.intro {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 8px;
}

.titulo {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    grid-column: 2/3;
}

.titulo a {
    text-decoration: none;
    color: black;
}

.login {
    grid-column: 3 / -1;
    padding: 8px;
    display: flex;
    justify-content: end;
}

.login img {
    margin: 0px 30px;
}

.login a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold 0.5;
}

/*----------MENU----------*/
.menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 40px;
    border-top: #707a7f23 solid 1px;
    border-bottom: #707a7f23 solid 1px;
    font-family: 'Questrial', sans-serif;
    font-weight: bolder;
    font-size: small;
    padding: 5px 0px;
}

.menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0px;
}

/*Columnas*/
.menu li {
    padding: 0px;
    line-height: 40px;
    list-style: none;
    margin: 0px 10px;
}

/*----------ULTIMAS NOTICIAS----------*/

/*Caja general*/
.ultimasNoticias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 8px;
    margin-top: 20px;
    font-family: 'Questrial', sans-serif;
}

/*Titulo*/
.ultimasNoticias #titulo {
    grid-row: 1;
    grid-column: 1/ -1;
    justify-self: center;
    text-align: center;
    height: 25px;
    font-family: 'Questrial', sans-serif;
    font-size: small;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #707a7f23;
    border-bottom: 1px solid #707a7f23;
    padding: 15px 0px;
}

/*Noticia 1 (superior-izquierda)*/
.ultimasNoticias .noticia1_ultimasNoticias {
    width: 260px;
    height: 380px;
    grid-row: 2 / 3;
    grid-column: 1/ 2;
    justify-self: end;
    margin-top: 30px;
    text-align: center;
}

/*Noticia 2 (central)*/
.ultimasNoticias .noticia2_ultimasNoticias {
    width: 552px;
    height: 855px;
    grid-row: 2 / -1;
    grid-column: 2 / 4;
    justify-self: center;
    margin-top: 30px;
    text-align: center;
}

/*Noticia 3 (superior-derecha)*/
.ultimasNoticias .noticia3_ultimasNoticias {
    width: 260px;
    height: 380px;
    grid-row: 2 / 3;
    grid-column: 4 / -1;
    justify-self: start;
    margin-top: 30px;
    text-align: center;
}

.ultimasNoticias .noticia4_ultimasNoticias {
    width: 260px;
    height: 380px;
    grid-row: 3 / -1;
    grid-column: 1 / 2;
    justify-self: end;
    text-align: center;
}

.ultimasNoticias .noticia5_ultimasNoticias {
    width: 260px;
    height: 380px;
    grid-row: 3 / -1;
    grid-column: 4 / -1;
    justify-self: start;
    text-align: center;
}

/*Imagenes*/
.ultimasNoticias a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold 0.3;
    line-height: 1.3;
}
.ultimasNoticias a:hover {text-decoration: underline;}

.ultimasNoticias #enlaceNoticia {
    font-size: large;
    font-weight: bold;
}

.noticia1_ultimasNoticias img {
    width: 260px;
    height: 260px;
    margin-bottom: 10px;
}

.noticia2_ultimasNoticias img{
    width: 552px; 
    height: 735px;
    margin-bottom: 10px;
}

.noticia3_ultimasNoticias img {
    width: 260px;
    height: 260px;
    margin-bottom: 10px;
}

.noticia4_ultimasNoticias img {
    width: 260px;
    height: 260px;
    margin-bottom: 30px;
}

.noticia5_ultimasNoticias img {
    width: 260px;
    height: 260px;
    margin-bottom: 30px;
}




