* {
    margin: 0;
}

/* -------Container------- */
.container {
    display: grid;
    grid-template-rows: 150px auto 300px;
    height: 100vh; /* viewport height => esta propeidad obtiene todo el alto de la pantalla independientemente del dispositivo donde se abra la página*/
}

/*----------CABECERA----------*/
.header {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xxx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

/*----------CUERPO----------*/
.main {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

/*Primer texto*/
.main .texto1 {
    font-size: x-large;
    margin: -50px auto;
    font-family: 'Questrial', sans-serif;
    width: 300px;
    text-align: center;
}

/*Segundo texto*/
.main .texto2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: x-large;
    margin: 60px auto;
}

/*input y button*/
.main .caja3 {
    font-size: medium;
    margin: 20px auto;
    width: 390px;
}

/*Texto Email*/
.main #textoEmail {
    margin-bottom: 7px;
    font-family: 'Questrial', sans-serif;
    font-size: small;
}

/*input Email*/
.main #email {
    width: 383px;
    height: 40px;
    margin: auto;
    outline: none;
}

/*Botón siguiente*/
.main #botonSiguiente {
    width: 390px;
    height: 50px;
    background-color: #181A1C;
    color: white;
    margin: 10px auto;
}

/*----------PIE---------*/
.footer {
    grid-row: 3 / -1;
    background-color: #181a1c;
    width: auto;
    height: auto;
    margin-top: 75px;
    color: white;
    display: flex;
    flex-direction: column;
}

/*Menú de enlaces*/
.footer #menu {
    display: flex;
    justify-items: center;
    margin: 0px auto;
}


/*Enlaces*/
.footer li {
    list-style-type: none;
    margin: 10px -90px;
    font-size: small;
    font-family: 'Questrial', sans-serif;
}

/*Texto política*/
.footer p {
    margin: 7px 100px;
}

.footer hr {
    background-color:#000000;
    height: 1px;
    border-top: none;
    margin: 30px 120px;
    opacity: 0.10;
}

/*Botón preferencias*/
.footer #botonConfigurar {
    margin: 10px auto;
    width: 170px;
    height: 40px;
    background-color: #181A1C;
    color: #707a7f;
    border: 1px solid #707a7f;
}

.footer nav {
    /*margin: 10px auto;
    margin-top: 10px;*/
    margin: auto;
    justify-content: center;
    color: #707a7f;
    font-size: small;
}

.footer nav a {
    color: #707a7f;
}
